<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>facebook</title>
<meta http-equiv="Content-Type" content="text/html; charset=windows-874" />
<!-- Open tag -->
<meta property="og:title" content="ÊÔ¹¡¹¡¡ÒÃà¡ÉµÃ - SKG Farm" />
<meta property="og:type" content="website" />
<meta property="og:url" content="" />
<meta property="og:image" content="" />
<meta property="og:site_name" content="sinkanok.com" />
<meta property="fb:app_id" content="151482724913250" />
</head>

<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/th_TH/sdk.js#xfbml=1&version=v2.3&appId=242821245765847";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
1.Index Like Button<br />
<div class="fb-like" data-href="https://www.facebook.com/SKG.Farm" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div><br />
2.Open tag<br />
in head tag<br />
3.QR<br />
<img src="../images/Facebook_sinkanok_qr.jpg" /><br />

4.Home Like box iframe<br />
<iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2FSKG.Farm&amp;width=500&amp;height=590&amp;show_faces=true&amp;colorscheme=light&amp;stream=true&amp;border_color&amp;header=true&amp;appId=242821245765847" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100%; height:590px;" allowTransparency="true"></iframe><br />
5.Home Like box<br />
<div class="fb-page" data-href="https://www.facebook.com/SKG.Farm" data-width="1000" data-height="1000" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/SKG.Farm"><a href="https://www.facebook.com/SKG.Farm">ÊÔ¹¡¹¡¡ÒÃà¡ÉµÃ - SKG Farm</a></blockquote></div></div>
<br />
6.skg-temp.dwt like button<br />
<div class="fb-like" data-href="https://www.facebook.com/SKG.Farm" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div><br />
index.html<br />
<table width="100%"  border="0" cellspacing="1" cellpadding="1">
  <tr>
    <td><p><div class="fb-like" data-href="https://www.facebook.com/SKG.Farm" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div><br /></p></td>
    <td><p class="style15"><span class="style16"><a href="http://sinkanok.blogspot.com">
Sinkanok Blog</a> :: <a href="http://search.sinkanok.com">Search </a></span></p></td>
  </tr>
</table>
<p><br />
  Sinkanok.com QR
  <img src="../images/sinkanok-qrcode.png" width="260" height="260" />
</p>
<p>Like button HTML5</p>
<div class="fb-like" data-href="http://www.facebook.com/SKG.Farm" data-send="true" data-layout="button_count" data-width="300" data-show-faces="true"></div>
<p>Google Seach</p>
<p>
  <script>
  (function() {
    var cx = '001166062005912040688:v7lt1zaveb8';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
  </script>
  <gcse:searchbox></gcse:searchbox>
</p>
</body>
</html>
