<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>test</title>
<meta http-equiv="Content-Type" content="text/html; charset=windows-874" />
</head>

<body>

<iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fplatform&amp;width=292&amp;colorscheme=light&amp;show_faces=true&amp;stream=true&amp;header=true&amp;height=427" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:292px; height:427px;" allowTransparency="true"></iframe>
<br /><hr/>
<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like-box href="http://www.facebook.com/platform" width="292" show_faces="true" stream="true" header="true"></fb:like-box>
<br /><hr/>
<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=SKG_LiveStream&amp;xfbml=1"></script><fb:live-stream event_app_id="SKG_LiveStream" width="400" height="500" xid="SKG_LiveStream" always_post_to_friends="false"></fb:live-stream>
<br /><hr/>
<iframe src="http://www.facebook.com/plugins/activity.php?site=sinkanok.com&amp;width=300&amp;height=500&amp;header=true&amp;colorscheme=light&amp;font&amp;border_color=%23AAAAAA&amp;recommendations=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:500px;" allowTransparency="true"></iframe>
<br /><hr/>
<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:activity site="sinkanok.com" width="300" height="500" header="true" font="" border_color="#AAAAAA" recommendations="true"></fb:activity>


</body>
</html>
